$desktop-1179: 1179px;
$selectWidth: 650px;

.homepage-live-search input[type="search"] {
text-align: center;
font-size: 2em;
}

// COURSE FINDER 
.course-finder {
float: left;
margin-bottom: 2em;
background: #3d3d3c;
margin-top: 2em;
width: 100%;
}

.course-finder h2 {
border-bottom: none;
color: white;
margin-top: 0 !important;
padding: 0.6em;
padding-bottom: 0;
}

.course-finder p {
color:white; 
margin-left: 1em; 
margin-bottom: 0;
}

#livesearch {
width:100%; 
float: left; 
font-size: 1.5em;
}

#livesearchbutton, #showallcourses {
width:25%; 
margin-top: 1em; 
background: $primary-color;
border: 0; 
padding: 1em; 
border: 1px solid $secondary-color; 
color: white;
}

@media screen and (max-width: 1234px) {
#showallcourses, #livesearchbutton {
width: 40%;
}
}

#showallcourses:hover, #livesearchbutton:hover  {
background: #99cc66;
}

.live-search-container {
padding:1em; 
margin: 0;
}

// BUTTONS

// Primary Button
.button-default {
display: inline-block;
width: auto;
position: relative;
float: left;
margin-right: 0.5em;
}

.course-buttons {
width: 100%;
float: left;
margin-bottom: 0.5em;
}

.button-default a:link, .button-default a:focus, .button-default a:visited {
color: white;
padding: 10px 10px;
border-radius: 5px;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px; 
}

.button-default a:hover  {
background: $secondary-color;
color: white;
}

.button-promo-slider {
width: 124px;
height: 41px;
display: inline-block;
position: absolute;
top: 700px; left: 0; bottom: 0; right: 0;
margin: auto;
opacity: 0.9;
}

.button-promo-slider a:link, .button-promo-slider a:visited {
color: white;
width: 124px;
height: 41px;
display: inline-block;
background: $primary-color;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px; 
border: 2px solid white;
text-align: center;
padding-top: 10px;
}

.button-promo-slider a:hover {
background: white;
width: 124px;
height: 41px;
display: inline-block;
color: $secondary-color;
}

// Flexible Homepage: More Courses Button

.factsheet-snippet-more-courses {
margin-bottom: 2em;
}

.section-margin-top {
margin-top: 1em;
}

.button-primary a:link, .button-primary a:visited {
background: $primary-color;
}
.button-primary a:hover, .button-primary a:focus  {
background: $secondary-color;
}

.contact-form-half {
@include span (12 of 12);
}
.contact-form-half-last {
@include span (12 of 12 last);
}

// Application form

.app-form input {
margin: 0;
}

.app-form button {
clear: both;
float: left;
}

.app-form .picker button {
 clear: none;
 float: none;
}

.app-form label {
float: left;
clear: both;
display: block;
min-width: 267px;
width: auto;
padding: 0.5em 0.5em 0.5em 0;
margin-bottom: 0.5em;
}

.app-form input {
display: block;
float: left;
}

.app-form label.course-choice {
width: 100%;
}

.app-form input.input-inline {
margin-bottom: 1em;
float: left;
min-width: 200px;
padding: 0.2em;
}

.app-form select.select-inline {
width: 100%;
margin-bottom: 1em;
float: left;
@include breakpoint($selectWidth) { 
width: auto;	
}
}

.app-form .submit {
background: #3477DB;
color: white;
height: 50px;
width: 100px;
text-shadow:none;
border: 1px solid #3477DB;
}

.app-form fieldset {
margin: 1em 0 1em 0;
border: 2px solid $grey;
float: left;
clear: both;
}

.app-form .quali-row {
border-bottom: 1px solid $off-white;
margin-bottom: 1em;
}

.app-form .radio-button-input {
float: left;
clear: both;
padding-bottom: 0.5em;
}

.app-form .radio-buttons {
float: left;
clear: both;
margin-right: 0.5em;
}

.app-form .postcodeout, .app-form .postcodein {
display: inline-block;
float: left;
width: 100px;
}

select.schoollist {
text-transform: uppercase !important;
}

// Parsley Validation

.parsley-errors-list li {
display: none;
}

input.parsley-error, .parsley-error {
color: #B94A48;
background-color: #F2DEDE;
border: 1px solid #EED3D7;
}

.parsley-required {
 float: left;
}

input.parsley-success, select.parsley-success, textarea.parsley-success, .radio-button-input .parsley-success {
color: #468847;
background-color: #DFF0D8;
border: 1px solid #D6E9C6;
}

.highlight-hover {
background: $secondary-color;
}

.page-section-hover-title {
background: $secondary-color !important;
}

.page-section-hover-title h3 {
color: white !important; 
}
.new-qualification-row {
float: left;
display: inline-block;
clear: both;
}

// Live Search

#live-search {
width: 100%;
float: left;
font-size: 2em;
padding: 1em;
}

.ui-menu {
padding: 2em;
}

.ui-menu .ui-menu-item {
font-size: 1.4em;
list-style-type: none;
padding: 1em;
}

// pickadate

.picker__select--month, .picker__select--year {
 width: auto !important;
}

.app-form .picker button {
 width: 8em !important;
}

// jQuery Datepicker


.ui-datepicker-header {
background: $secondary-color;
float: left;
padding: 1em;
}

.ui-datepicker-calendar tbody {
border: 1px solid $primary-color;
} 

.ui-datepicker-calendar thead {
border: 1px solid $primary-color;
}

.ui-datepicker-title {
float: left;
}

.ui-datepicker-calendar .ui-state-default, .ui-datepicker-calendar .ui-state-default a, .ui-datepicker-calendar .ui-state-default a:visited {
color: $primary-color;
}

.ui-icon {
background: $primary-color;
color: white;
float: left;
margin-right: 0.5em;
padding: 0.5em;
}

.ui-icon:hover {
cursor: pointer;
}

#menu-posts-vacancies {
display: none;
}

.enquire-button {
float: left;
width: 100%;
text-align: center;
background: $off-white;
padding: 1em;
}

.enquire-button a:link {
padding: 0.5em;
background: $secondary-color;
float: left;
width: 100%;
color: white;
}

.enquire-button a:hover {
font-weight: bold;
color: white;
}

// Featured PDF

.pdf-container {
display: inline-block;
clear: both;
background: $off-white;
padding: 0.5em;
}
$issuu: 645px;

.issuu-pdf-viewer .issuuembed {
width: 100%;
height: auto;
float: left;
}

@include breakpoint($issuu) {

.issuu-pdf-viewer .issuuembed {
width: 525px;
height: 373px; 
}

}
// jQuery UI Accordion - Custom Style

#accordion  {
float: left;
width: 100%;
clear: both;
margin-bottom: 2em;
}

#accordion a:link, #accordion a:visited {
text-decoration: underline;
color: $para-text;
}

#accordion ul li {
font-size: 1rem;
color: $para-text;
}

#accordion * {
font-weight: normal;
}

#accordion  * { 
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box;
}

#accordion h3 {
padding: 1em;
}

#accordion h3 span {
padding: 0px;
}

#accordion h3:hover {
cursor: pointer;
}

#accordion p {
font-size: 1.1rem;
}

#accordion .ui-accordion-content {
width: 100%;
background-color: $off-white;
color: #777;
font-size: 10pt;
line-height: 16pt;
padding: 1em;
}

#accordion .ui-accordion-content > * {
margin: 0;
padding: 0px;
}

#accordion .ui-accordion-content a {
color: #777;
}

#accordion .ui-accordion-content ul li a {
color: #3477DB;
}

#accordion .ui-accordion-header {
background-color: $primary-color;
color: white;
margin: 0px;
}

#accordion .ui-accordion-header a {
color: white;
line-height: 42px;
display: block;
font-size: 12pt;
width: 100%;
text-indent: 10px;
}
.quick-links {
background: $off-white;
padding: 1em;
margin-bottom: 1em;
}
// NAVIGATION STYLE

// Secondary Navigation

.nav-secondary li.mega-menu-item, .nav-home li.mega-menu-item {
border-bottom: 1px solid $off-white !important;
}

.nav-secondary li.mega-menu-item > a.mega-menu-link {
padding: 3.7037% !important; 
padding-top: 0 !important;
padding-bottom: 0 !important;
}

.nav-secondary .mega-menu-toggle {
border-bottom: 1px solid $off-white;
padding: gutter();
padding-top: 0;
padding-bottom: 0;
@include breakpoint($desktop-1179) { 
padding: 0;	
}
}

// Secondary Homepage Navigation

.nav-home li.mega-menu-item > a.mega-menu-link  {
padding: 5% !important; 
padding-top: 0 !important;
padding-bottom: 0 !important;
}

.nav-home .mega-menu-toggle {
border-bottom: 1px solid $off-white;
padding: 5%;
padding-top: 0;
padding-bottom: 0;
@include breakpoint($desktop-1179) { 
padding: 0;	
}
}

// Ancestor Styles

li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link, li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link {
background: $primary-color !important;
color: #FFFFFF !important;
}

li.mega-menu-item.mega-current-menu-item > a.mega-menu-link:hover {
background: $secondary-color !important;
}

// Current item branding

#mega-menu-wrap-employers #mega-menu-wrap-employers > li.mega-menu-item.mega-current-page-ancestor > a:hover.mega-menu-link  {
background: $employers !important;
color: #FFFFFF !important;
}

#mega-menu-wrap-about-menu .mega-menu-toggle, #mega-menu-wrap-about-student-support-menu .mega-menu-toggle, #mega-menu-wrap-16-19 .mega-menu-toggle, #mega-menu-wrap-16-19 .mega-menu-toggle, #mega-menu-wrap-16-19-subject .mega-menu-toggle, #mega-menu-wrap-employers .mega-menu-toggle, #mega-menu-wrap-external-access .mega-menu-toggle, #mega-menu-wrap-policies .mega-menu-toggle, #mega-menu-wrap-governors .mega-menu-toggle, #mega-menu-wrap-supported-learning .mega-menu-toggle {
text-align: left;
}

#mega-menu-wrap-about-menu .mega-menu-toggle:before, #mega-menu-wrap-about-student-support-menu .mega-menu-toggle:before, #mega-menu-wrap-16-19 .mega-menu-toggle:before, #mega-menu-wrap-16-19-subject .mega-menu-toggle:before, #mega-menu-wrap-apprenticeships .mega-menu-toggle:before, #mega-menu-wrap-adults .mega-menu-toggle:before, #mega-menu-wrap-employers .mega-menu-toggle:before, #mega-menu-wrap-contact .mega-menu-toggle:before, #mega-menu-wrap-external-access .mega-menu-toggle:before, #mega-menu-wrap-policies .mega-menu-toggle:before, #mega-menu-wrap-governors .mega-menu-toggle:before, #mega-menu-wrap-supported-learning .mega-menu-toggle:before
{
float: right !important;
}

#mega-menu-wrap-about-menu .mega-menu-toggle:after {
content: "About" !important;
float: left;
}

#mega-menu-wrap-about-student-support-menu .mega-menu-toggle:after {
content: "Student Support" !important;
float: left;
}

#mega-menu-wrap-16-19 .mega-menu-toggle:after {
content: "School Leavers" !important;
float: left;
}

#mega-menu-wrap-school-leavers-a-levels .mega-menu-toggle:after {
content: "A Levels" !important;
float: left;
}

#mega-menu-wrap-16-19-subject .mega-menu-toggle:after {
content: "School Leavers Courses" !important;
float: left;
}

#mega-menu-wrap-employers .mega-menu-toggle:after {
content: "Employers" !important;
float: left;
}

#mega-menu-wrap-adults .mega-menu-toggle:after {
content: "Adults" !important;
float: left;
}

#mega-menu-wrap-apprenticeships .mega-menu-toggle:after {
content: "Apprentices" !important;
float: left;
}

#mega-menu-wrap-contact .mega-menu-toggle:after {
content: "Contact" !important;
float: left;
}

#mega-menu-wrap-external-access .mega-menu-toggle {
background: $secondary-color !important;
}

#mega-menu-wrap-vacancies .mega-menu-toggle:after {
content: "Vacancies" !important;
float: left;
}

#mega-menu-wrap-workworld .mega-menu-toggle:after {
content: "WorkWorld" !important;
float: left;
}

#mega-menu-wrap-governors .mega-menu-toggle:after {
content: "Governance" !important;
float: left;
}

#mega-menu-wrap-policies .mega-menu-toggle:after {
content: "Public Information" !important;
float: left;
}
#mega-menu-wrap-campus .mega-menu-toggle:after {
content: "Campuses" !important;
float: left;
}
#mega-menu-wrap-about-services .mega-menu-toggle:after {
content: "Services Menu" !important;
float: left;
}
#mega-menu-wrap-about-partners .mega-menu-toggle:after {
content: "Partners Menu" !important;
float: left;
}
#mega-menu-wrap-supported-learning .mega-menu-toggle:after {
content: "Supported Learning" !important;
float: left;
}