// Applications Page
.application-form-section .form { 
    max-width: 100%; 
    min-width: 25%; 
    border-width: 2px; 
    border-color: #CCCCCC; 
    border-radius: 4px; 
    border-style: solid; 
    color: #222222; 
    font-size: 14px; 
    margin: 0px; 
    background-color: #FFFFFF; 
    padding: 20px; 
} 
.application-form-section .content { 
    margin: 0px; 
} 
.application-form-section .form label { 
    color: #222222; 
    font-size: 14px; 
    display: block; 
} 
.application-form-section .form input[type=radio], input[type=checkbox]{ 
    margin: 10px; 
    width: 13px; 
} 
.application-form-section .form div { 
    display: block; 
} 
.application-form-section .form input, form textarea, form select { 
    border-width: 1px; 
    border-style: solid; 
    border-color: #666666; 
    border-radius: 0px; 
    padding: 3px; 
    width: 100%; 
} 
.application-form-section .form h1 { 
    font-size: 40px; 
    color: #607A75; 
    padding: 0px; 
    margin: 0px; 
    margin-bottom: 10px; 
    border-bottom-style: dotted; 
    border-bottom-color: #CCCCCC; 
    border-bottom-width: 2px; 
    border-radius: 0px; 
    background-color: #FFFFFF; 
} 
.application-form-section .intro{ 
    margin-bottom: 10px; 
} 
.application-form-section .clear{ 
    clear: both; 
} 
.application-form-section .form textarea { 
    height: 50px; 
    width: 100%; 
} 
.application-form-section .form input[type=submit] { 
    width: 100%; 
    background-color: #CCCCCC; 
    color: #222222; 
} 
.application-form-section .field{ 
    margin-bottom: 5px; 
} 