// BRANDING

$primary-color: #3d3d3c; // Slate
$secondary-color: #99cc66; // Green
$para-text: #373737; // Paragraph Text
$higher-education: #68478d; // Higher Education
$higher-education-secondary: #df8250; // Higher Education Secondary
$links: #6d9837; // Green links
$secondary-color-tint: #d83a89;
$box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
$pink-tint1: #7F2755;
$pink-tint2: #40142A;
$aubergine-tint1: #7F437B;
$off-white: #d7d7d7;
$body-background: #FFF; // White
$text-white: #FFF; // White
$grey: #E9E9E9; // Grey background
$lee-stafford: #ee1199;
$lee-stafford-secondary: #410099;
$employers: #4a0d66;
$employers-secondary: #cd25b0;
$the-bistro: #f7ce3c;
$the-bistro-secondary: #575756;
$workworld: #221e72;
$workworld-secondary: #e13087;
$services: #4c4c4b;
$iamt: #0055b8;
$kcc-live: #202325;
$kcc-live-secondary: #e72e88;
$studio-115: #f7941e;
$studio-115-secondary: #bd2029;
$nla: #cb204d;
$nla-secondary: #1d1d1b;

h1, h2, h3, h4 {
	color: $primary-color;
}

h2 {
	border-bottom: 2px solid $off-white;
	padding-bottom: 0.5em;
}

p {
	color: #7b8286;
}

.top-nav h1, h2, h3, h4 {
	color: $text-white;
}

.courses h1, h2, h3, h4 {
	color: $primary-color;
}

// Footer

footer h1, footer h2, footer h3, footer h4 {
	color: white;
}

// Padding/Spacing

$primary-padding: 2em;

// Tables
table {
	float: left;
	clear: both;
	border-collapse: collapse;
	border-spacing: 0; 
	width: 100%;
	margin-bottom: 1em;
	border: none;
}

table td, table th {
	text-align: center;
}

table.apprenticeship-vacancies {
	width: 100%;
}

thead tr {
	background: $primary-color;
	color: white;
}

tbody tr:nth-child(even) {
	background: #ededed;
}

tbody tr:nth-child(odd) {
	background: $off-white;
}

tfoot tr {
	background: $secondary-color;
	color: white;
}

th {
	text-align: left;
}

th, td {
	padding: 1em !important;
}

// Page content formatting
.the-content h2 {
 clear: both;
}

// Links 

footer.footer-primary address a:link, footer address a:visited {
	text-decoration: none;
}

footer.footer-primary address a:active, footer address a:hover {
	color: $secondary-color;
}

// KCC PRIMARY

section.kcc-primary h2.section-heading {
 border-bottom: 1px solid $off-white;
}

section.separator {
 border-bottom: 1px solid $off-white;
}

.kcc-primary .featured-banner .banner-heading h1 {
	color: $secondary-color
}

.kcc-primary .featured-banner .banner-heading {
background: rgba(61, 61, 60, 0.9);
border-top: solid 2px $secondary-color;
}

.kcc-primary .sub-brand-logo {
display: none;
}

.primary-breadcrumbs {
border-top: solid 2px $off-white; 
}

.service-number a:link, .service-number a:visited  {
color: white;
}

.service-number a:active, .service-number a:hover {
color: white;
}

.kcc-primary #accordion h3 {
	background: $primary-color;
}
.kcc-primary #accordion h3.ui-state-active {
	background: $secondary-color;
}
.kcc-primary #accordion h3:hover {
  background: $secondary-color;
}

.kcc-primary .button-default {
	background: $secondary-color;
}

.kcc-primary .button-default a:hover {
  background: $primary-color;
}

.kcc-primary hr {
	border-style: solid;
	color: $off-white;
	margin-bottom: 2em;
}

.kcc-primary .flex-control-paging li a.flex-active {
	background: $primary-color !important;
}

footer.kcc-primary {
	border-top: 40px solid $secondary-color;
}

footer.kcc-primary address a:link, footer address a:visited {
text-decoration: none;
}
footer.kcc-primary address a:active, footer address a:hover {
color: $secondary-color;
}

footer.kcc-primary a:active, footer.kcc-primary a:hover {
color: $secondary-color;
}

// Homepage 

footer.kcc-home address a:link, footer address a:visited {
text-decoration: none;
}
footer.kcc-home address a:active, footer address a:hover {
color: $secondary-color;
}

footer.kcc-home a:active, footer.kcc-home a:hover {
color: $secondary-color;
}


// Menu

.kcc-primary .nav-secondary  {
	background: $off-white !important;
}

 .kcc-primary .nav-secondary .mega-menu-toggle #mega-toggle-block-1:before {
	color: $primary-color !important;
}

.kcc-primary .nav-secondary  .mega-menu-toggle #mega-toggle-block-1:after {
	color: $primary-color !important;
}

// Inverse KCC Primary 

.kcc-primary .kcc-primary-inverse .button-default {
	background: $primary-color;
}

.kcc-primary .kcc-primary-inverse .button-default a:hover {
  background: white;
  color: $primary-color;
}

// Default Secondary Page 

.content-page, .secondary-home-page, .meet-the-team, .overview-tiles, .courses {
	background: white;
}
.secondary-page, .body-background, .single-vacancy-page {
	background: $off-white;
}

// HIGHER EDUCATION (KNOWSLEY UNIVERSITY CENTRE) ---------------------------------------------------->

.higher-education .featured-banner .banner-heading {
background:rgba(104, 71, 141, 0.9);
border-top: solid 2px $higher-education-secondary;
}

.breadcrumbs-higher-education {
border-top: 2px solid $higher-education;
}
.he-background {
background: $higher-education;
}

footer.higher-education {
border-top: 40px solid $higher-education-secondary;
background: $higher-education;
}

footer.higher-education address a:link, footer address a:visited {
text-decoration: none;
}
footer.higher-education address a:active, footer address a:hover {
color: $higher-education-secondary;
}

footer.higher-education a:link {
color: white;
}
footer.higher-education a:hover {
color: $higher-education-secondary;
}
.higher-education h2.section-heading-colour {
	color: $higher-education;
}

.higher-education .section-button a:link, .button a:visited {
	background: $higher-education;
}
.higher-education .section-button a:hover, .button a:focus  {
	background: $higher-education-secondary;
}

.higher-education .button-default {
	background: $higher-education;
}

.higher-education .button-default a:hover {
  background: $higher-education-secondary;
}

// Menu
.higher-education .nav-home {
	background: $off-white !important;
}


.higher-education .mega-menu-toggle .mega-toggle-block-1:before, .higher-education .mega-menu-toggle .mega-toggle-block-1:after {
	color: $higher-education !important;
}

.mega-menu-toggle .mega-toggle-block-1:after, .mega-menu-toggle .mega-toggle-block-1:before   {
 color: #666666 !important;
}

// LEE STAFFORD ---------------------------------------------------->

.lee-stafford .featured-banner .banner-heading {
background: rgba(238, 17, 153, 0.8);
border-top: solid 2px $lee-stafford;
}

.lee-stafford .section-button a:link, .button a:visited {
	background: $lee-stafford;
}

.lee-stafford .section-button a:hover, .button a:focus  {
	background: $lee-stafford-secondary;
}

footer.lee-stafford {
	border-top: 40px solid $lee-stafford;
}

footer.lee-stafford address a:link, footer address a:visited {
text-decoration: none;
}
footer.lee-stafford address a:active, footer address a:hover {
color: $lee-stafford;
}

footer.lee-stafford a:active, footer.lee-stafford a:hover {
color: $lee-stafford;
}

ul.service-opening-times li {
padding: 0.5em 0.5em 0.5em 0em;
border-bottom: 1px solid $off-white;
list-style: none;
}

.lee-stafford #accordion h3 {
	background: $lee-stafford-secondary;
}
.lee-stafford #accordion h3.ui-state-active {
	background: $lee-stafford;
}
.lee-stafford #accordion h3:hover {
  background: $lee-stafford;
}

// KCC LIVE ---------------------------------------------------->

.kcc-live .featured-banner .banner-heading {
background: rgba(32, 35, 37, 0.8);
border-top: solid 2px $kcc-live;
}

.kcc-live .section-button a:link, .button a:visited {
	background: $kcc-live;
}

.kcc-live .section-button a:hover, .button a:focus  {
	background: $kcc-live-secondary;
}

footer.kcc-live {
	border-top: 40px solid $kcc-live-secondary;
	background: $kcc-live;
}

footer.kcc-live address a:link, footer address a:visited {
text-decoration: none;
}
footer.kcc-live address a:active, footer address a:hover {
color: $kcc-live-secondary;
}

footer.kcc-live a:active, footer.kcc-live a:hover {
color: $kcc-live-secondary;
}

// STUDIO 115 ---------------------------------------------------->

.studio-115 .featured-banner .banner-heading {
background: rgba(247, 148, 30, 0.9);
border-top: solid 2px $studio-115-secondary;
}

.studio-115 .section-button a:link, .button a:visited {
	background: $studio-115-secondary;
}

.studio-115 .section-button a:hover, .button a:focus  {
	background: $studio-115;
}

footer.studio-115 {
	border-top: 40px solid $studio-115;
}

footer.studio-115 address a:link, footer address a:visited {
text-decoration: none;
}
footer.studio-115 address a:active, footer address a:hover {
color: $studio-115;
}

footer.studio-115 a:active, footer.studio-115 a:hover {
color: $studio-115;
}

// Quotes

.studio-115 .quote-box {
	background: $studio-115-secondary;
	border: 2px solid $studio-115;
}

// Gallery Nav

.studio-115 .flex-control-nav {
  border: solid 2px $studio-115-secondary !important;
}

.studio-115 .flex-control-paging li a.flex-active {
	background: $studio-115-secondary !important;
}

// EMPLOYERS ---------------------------------------------------->

// Content Snippets

section.employers {
	background: $employers;
}

section.employers .button-default a {
	background: $employers;
	border: 2px solid $employers-secondary;
}

section.employers .button-default a:hover {
  background: $employers-secondary;
}

section.employers h2, section.employers p {
	color: white;
}


.employers .featured-banner .banner-heading {
	background: rgba(74, 13, 102, 0.8);
  border-top: solid 2px $employers;
}

footer.employers {
 border-top: 40px solid $employers-secondary;
 background: $employers;
}

footer.employers address a:link, footer address a:visited {
text-decoration: none;
}
footer.employers address a:active, footer address a:hover {
color: $employers-secondary;
}

footer.employers a:active, footer.employers a:hover {
color: $employers-secondary;
}

.employers #accordion h3 {
	background: $employers-secondary;
}
.employers #accordion h3.ui-state-active {
	background: $employers;
}
.employers #accordion h3:hover {
  background: $employers;
}

.employers .quote-box {
	background: $employers;
	border: 2px solid $employers-secondary;
}

.employers .button-default a {
	background: $employers;
	border: 2px solid $employers-secondary;
}

.employers .button-default a:hover {
  background: $employers-secondary;
}

// Menu

.employers .nav-home  {
	background: $off-white !important;
}

.employers .nav-home .mega-menu-toggle #mega-toggle-block-1:before {
	color: $employers !important;
}

.employers .nav-home  .mega-menu-toggle #mega-toggle-block-1:after {
	color: $employers !important;
}

.employers .mega-menu-toggle .mega-toggle-block-1:before, .employers .mega-menu-toggle .mega-toggle-block-1:after {
	color: $employers !important;
}

// THE BISTRO ---------------------------------------------------->

.the-bistro .featured-banner .banner-heading {
	background: rgba(87, 87, 86, 0.8);
  border-top: solid 2px $the-bistro;
}

.the-bistro .service-number {
	background: $the-bistro;
}

.the-bistro .quote-box {
	background: $the-bistro-secondary;
	border: 2px solid $the-bistro;
}

.the-bistro .flex-control-paging li a.flex-active {
	background: $the-bistro !important;
}

.the-bistro .button-default a {
	background: $the-bistro-secondary;
	border: 2px solid $the-bistro;
}

.the-bistro .button-default a:hover {
  background: $the-bistro;
}

// Mega Menu Toggle

.the-bistro #mega-menu-wrap-about-services .mega-menu-toggle .mega-toggle-block-1:after {
	color: $the-bistro-secondary !important;
}

.the-bistro  #mega-menu-wrap-about-services .mega-menu-toggle .mega-toggle-block-1:before {
  color: $the-bistro !important;
}

footer.the-bistro {
 border-top: 40px solid $the-bistro;
 background: $the-bistro-secondary;
}

footer.the-bistro address a:link, footer address a:visited {
text-decoration: none;
}
footer.the-bistro address a:active, footer address a:hover {
color: $the-bistro;
}

footer.the-bistro a:active, footer.the-bistro a:hover {
color: $the-bistro;
}

// Gallery Nav

.the-bistro .flex-control-nav {
  border: solid 2px $the-bistro !important;
}

.the-bistro .flex-control-paging li a.flex-active {
	background: $the-bistro-secondary !important;
}

// WORKWORLD ---------------------------------------------------->

// Featured Content Snippets

section.workworld {
	background: $workworld;
}

section.workworld .button-default a {
	border: 2px solid white;
	color: white;
}
section.workworld .button-default a:hover {
  background: $workworld-secondary;
  color: white;
  border: 2px solid $workworld-secondary;
}

section.workworld h2, section.workworld p {
	color: white;
}

// Banner

.workworld .featured-banner .banner-heading {
	background: rgba(34, 30, 114, 0.8);
  border-top: solid 2px $workworld-secondary;
}

.workworld .quote-box {
	background: $workworld;
}

footer.workworld {
 border-top: 40px solid $workworld-secondary;
 background: $workworld;
}

footer.workworld address a:link, footer address a:visited {
text-decoration: none;
}
footer.workworld address a:active, footer address a:hover {
color: $workworld-secondary;
}

footer.workworld a:active, footer.workworld a:hover {
color: $workworld-secondary;
}

// Menu

.workworld .nav-home  {
	background: $off-white !important;
}

.workworld .nav-home .mega-menu-toggle #mega-toggle-block-1:before {
	color: $workworld !important;
}

.workworld .nav-home  .mega-menu-toggle #mega-toggle-block-1:after {
	color: $workworld !important;
}

// Gallery Nav

.workworld .flex-control-nav {
  border: solid 2px $workworld !important;
}

.workworld .flex-control-paging li a.flex-active {
	background: $workworld-secondary !important;
}

// Buttons

.workworld .button-default a {
	background: $workworld;
	border: 2px solid $workworld-secondary;
}

.workworld .button-default a:hover {
  background: $workworld-secondary;
}

// SERVICES ---------------------------------------------------->

// Menu

#mega-menu-wrap-about-services {
	background: $off-white !important;
}

#mega-menu-wrap-about-services .mega-menu-toggle #mega-toggle-block-1:before {
	color: $services !important;
}

#mega-menu-wrap-about-services .mega-menu-toggle #mega-toggle-block-1:after {
	color: $services !important;
}

// IAMT ---------------------------------------------------->

// Featured Content Snippets

section.iamt {
	background: $iamt;
}

section.iamt .button-default a {
	border: 2px solid white;
	color: white;
}

section.iamt .button-default a:hover {
  background: white;
  color: $iamt;
}

section.iamt h2, section.iamt p {
	color: white;
}

// Banner

.iamt .featured-banner .banner-heading h1 {
	color: $iamt;
}

.iamt .featured-banner .banner-heading {
	background: rgba(255, 255, 255, 0.8);
  border-top: solid 2px $iamt;
}

footer.iamt {
 border-top: 40px solid $primary-color;
 background: $iamt;
}

footer.iamt address a:link, footer address a:visited {
text-decoration: none;
}
footer.iamt address a:active, footer address a:hover {
color: $iamt;
}

footer.iamt a:active, footer.iamt a:hover {
color: $iamt;
}

// Gallery Nav

.iamt .flex-control-nav {
  border: solid 2px $iamt !important;
}

.iamt .flex-control-paging li a.flex-active {
	background: $iamt !important;
}

// NLA ---------------------------------------------------->

// Featured Content Snippets

section.nla {
	background: $nla;
}

section.nla .button-default a {
	border: 2px solid white;
	color: white;
}

section.nla .button-default a:hover {
  background: white;
  color: $nla;
}

section.nla h2, section.nla p {
	color: white;
}

.nla .featured-banner .banner-heading {
	background: rgba(203, 32, 77, 0.9);
  border-top: solid 2px $nla-secondary;
}

footer.nla {
 border-top: 40px solid $nla-secondary;
 background: $nla;
}

footer.nla address a:link, footer address a:visited {
text-decoration: none;
}
footer.nla address a:active, footer address a:hover {
color: $nla;
}

footer.nla a:active, footer.employers a:hover {
color: $nla;
}

.nla #accordion h3 {
	background: $nla-secondary;
}
.nla #accordion h3.ui-state-active {
	background: $nla;
}
.nla #accordion h3:hover {
  background: $nla;
}

.nla .quote-box {
	background: $nla;
	border: 2px solid $nla-secondary;
}

.nla .service-number {
	background: white;
}

.nla .service-number a:link, .nla .service-number a:active, .nla .service-number a:visited {
	color: $nla;
}

.nla .button-default a {
	background: $nla;
	border: 2px solid $nla-secondary;
}

.nla .button-default a:hover {
  background: $nla-secondary;
}