// Breakpoints

$youtube-tablet: 530px;
$youtube-desktop: 1150px;
$youtube-tablet-content: 900px;
$unistats: max-width 735px;
$factsheet-title: 700px;
$responsive-tab-links: 500px;

.text-align-center {
	text-align: center;
}

.factsheet-feature img {
	width: 100%;
	height: auto;
	opacity: 0.7;
}

.factsheet-page section {
	background: white;
}

.container-border-top {
 border-top: 1px solid $off-white;
}
.factsheet-page .the-content, .courses .course-listing, .prospectus-subject, .the-content {
  background: white;
  padding: gutter();
  margin-bottom: 0;
  float: left;
  @include span (12 of 12);
}

.course-listing {
  border-bottom: 1px solid $off-white;
}

.course-listing:last-of-type {
	border-bottom: 0;
}

.course-listing h2 {
  padding-bottom: 0;
}

.course-listing p {
  margin-top: 0;
}

#tabs h3:first-of-type {
	padding-top: 1em;
}

.factsheet-header {
	float: left;
	width: 100%;
	background: $off-white;
}
.factsheet-header {
  float: left;
  width: 100%;
  background: $primary-color;
}

.factsheet-feature {
	float: left;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	z-index: 300;
}
.factsheet-title-bg {
	background: $primary-color;
	outline: none;
	padding: 0;
	@include breakpoint($factsheet-title) { 
	outline: 2em solid $primary-color;
	}
}

.factsheet-title {
	float: left;
	width: 100%;
	left: 0;
	@include breakpoint($factsheet-title) { 
			z-index: 8888;
			bottom: 0;
	 }
}

.factsheet-title h1 {
	margin-top: gutter();
	color: $secondary-color;
	text-decoration: none;
	border-bottom: none;
	display: inline-block;
	float: left;
	clear: both;
	@include breakpoint($factsheet-title) { 
			font-size: 4.5em;
	 }
}

.factsheet-title p {
	font-size: 1.5em;
	margin-top: 0.5em;
	color: white;
	display: inline-block;
	float: left;
	clear: both;
	margin-top: 0;
	margin-bottom: gutter();
}

.factsheet-image {
	width: 100%;
	float: left;
	max-height: 450px;
	background: black;
	overflow: hidden;
}

#tabs  {
	width: 100%;
	float: left;
	background: white;
}

// Tabbed Content

.factsheet-section {
	border-bottom: 1px solid $off-white;
}

.tab-content {
	padding: 1em;
}
.factsheet-content-apply {
	float: left;
	width: 100%;
	position: relative;
}

.factsheet-content-apply a {
	width: 100%;
	background: $secondary-color;
	position: absolute;
	padding: 1em;
	color: white !important;
	text-transform: uppercase;
	text-align: center;
}

.factsheet-content-apply a:link, .factsheet-content-apply a:hover, .factsheet-content-apply a:focus, .factsheet-content-apply a:visited {
  color: white !important;
}

.highlight-text {
	color: $secondary-color;
}

// Tab Sections

.tab-links {
float: left;
width: 100%;
border-bottom: 1px solid $off-white;
background: $off-white;
}

.tab-links-list {
padding: 0;
margin: 0;
}

.tab-links-container {
background: $off-white;
padding: 0;
}
.tab-list-container {
padding-left: gutter();
}
.tab-links ul {
	margin-bottom: 0px;
}
.tab-links ul li {
	display: block;
	background: $off-white;
 	width: 100%;
 	float: left;
 	clear: both;
 	padding: 0;
 	margin-bottom: 1em;
 	border-bottom: $off-white 1px solid;
	@include breakpoint($responsive-tab-links) { 
	list-style-type: none;
	color: $primary-color;
	padding: 0 0 0 0;
 	border-bottom: none;
 	width: auto;
 	clear: none;
 	margin-bottom: 0;	
	}
}

.ui-tabs-nav li a {
	display: inline-block;
	padding: 1em 0.5em 1em 0.5em;
	width: auto;
	color: white;
}

.ui-tabs-nav li a i {
 
}

.tab-links ul li a:link  {
	font-size: 1.2em;
	color: $primary-color;
}

.tab-links ul li a:hover {
 background: $secondary-color;
 color: white;
}

.tab-links ul li:last-of-type {
 margin-bottom: 0;
 border-bottom: none;
}

#tabs .ui-tabs-active a {
 color: white;
 background: $secondary-color;
}

.tab-section {
	float: left;
	width: 100%;
}

// jQuery UI tabs

.ui-tabs-nav ul {
	float: left;
	width: 100%;
}

.ui-tabs-nav li {
 display: inline-block;
 position: relative;
 float: left;
 top: 0;
 color: white;
 line-height: 0;
 padding-bottom: 0;
}

.ui-tabs-nav li a:link, .ui-tabs-nav li a:visited, .ui-tabs-nav li a:hover {
 color: $primary-color;
}

// Course listings 

.apply {
	display: inline-block;
	padding-bottom: gutter();
}

.course-list {
	background: white;
	margin: 0 0 gutter() 0;
}

.course-listing {
	float: left;
}

.course-listing h2 {
	margin-bottom: 0px;
	border-bottom: none;
}

.course-listing .course-level {
	color: $primary-color;
	background: $secondary-color;
  display: inline-block;
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: white;
}

// Aside

.factsheet-apply {
	float: left;
	width: 100%;
}

.apply-box {
	text-align: center;
}

.apply-box p i {
	color: $secondary-color;
}

.apply-box p a {
	text-decoration: none;
	color: white;
}

.apply-box-button, .apply-box p {
	color: white;
	padding: 0.5em;
	background: $primary-color;
}

// YouTube Videos

.aside-videos {
	@include span (12 of 12);
}

.youtube-side, .youtube-side-last {
  background: white;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  padding: gutter();
  margin-bottom: gutter();
}
.youtube-content {
	position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.youtube-content iframe {
	position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@include breakpoint($unistats) {
#unistats-tab {display: none;}
}

@include breakpoint($youtube-tablet-content) {

	.youtube-content {
		@include span (12 of 12);
	}

	.youtube-content iframe {
		height: 416px;
	}

}
@include breakpoint($youtube-tablet) {

	.youtube-side {
		@include span (6 of 12);
	}

	.youtube-side-last {
		@include span (6 of 12 last);
	}

}
@include breakpoint($youtube-desktop) {

	.youtube-side {
		@include span (12 of 12);
		margin-bottom: gutter();
	}

	.youtube-side-last {
		@include span (12 of 12);
	}

	.aside-videos {
		padding-bottom: 0;
  }
}

//emsi widget 

.emsi-widget {
	width: 100%;
	float: left;
	margin-top: 1em;
}

.emsi-widget iframe {
	height: 65vh;
}