.factsheet-feature img {
	width: 100%;
	height: auto;
	opacity: 0.7;
}
.factsheet-page section {
	background: white;
}

.factsheet-details h2 {
 border: none;
}

.factsheet-page .the-content, .courses .course-listing, .prospectus-subject, .the-content {
	background: white;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  padding: gutter();
  margin-bottom: gutter();
  float: left;
  @include span (12 of 12);
}

.prospectus-subject {
	margin-top: 2em;
}

#tabs h3:first-of-type {
	padding-top: 1em;
}

.factsheet-header {
	float: left;
	width: 100%;
	background: $off-white;
}
.factsheet-header {
  float: left;
  width: 100%;
}

.factsheet-feature {
	float: left;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}
.factsheet-title-bg {
	background: $primary-color;
	padding: 1em;
}

.factsheet-title {
	position: absolute;
	float: left;
	width: 100%;
	bottom: 0;
	left: 0;
}

.factsheet-title h1 {
	color: $secondary-color;
	text-decoration: none;
	border-bottom: none;
	display: inline-block;
	float: left;
	clear: both;
	font-size: 3em;
}

.factsheet-title p {
	color: white;
	display: inline-block;
	float: left;
	clear: both;
	margin-top: 0;
}

.factsheet-image {
	width: 100%;
	float: left;
	max-height: 600px;
	background: black;
	overflow: hidden;
}

#tabs  {
	width: 100%;
	float: left;
	background: white;
}

// Tabbed Content

.tab-content {
	padding: 1em;
}

.tab-section {
	padding: 1em;
}

.factsheet-content-apply {
	float: left;
	width: 100%;
	position: relative;
}

.factsheet-content-apply a {
	width: 100%;
	background: $secondary-color;
	position: absolute;
	padding: 1em;
	color: white !important;
	text-transform: uppercase;
	text-align: center;
}

.factsheet-content-apply a:link, .factsheet-content-apply a:hover, .factsheet-content-apply a:focus, .factsheet-content-apply a:visited {
  color: white !important;
}

.highlight-text {
	color: $secondary-color;
}

// Tab Sections

.tab-links {
	float: left;
	width: 100%;
	background: $primary-color;
	color: white;
}

.tab-links ul {
	margin-bottom: 0px;
}

.tab-links ul li {
	list-style-type: none;
	display: inline-block;
}

.tab-links ul li a:link, .tab-links ul li a:visited,  {
	color: white;
	border: 1px solid white;
	border-bottom: none;
	font-size: 1.2em;
}

.ui-tabs-nav li a:link {
	color: white !important;
}

.tab-section {
	float: left;
	width: 100%;
}
.share-bar {
	float: left;
	width: 100%;
	background: $primary-color;
	color: white;
	padding: 0.5em;
	display: none; 
}

.share-bar ul li {
	display: inline-block;
	float: left;
}

.share-bar ul li a {
	padding: 1em 0.5em;
}

.tab-links ul li {
	padding-left: 0.5em;
} 

.share-bar ul li a:link, .share-bar ul li a:visited, .share-bar ul li a:active  {
	color: white;
}

// jQuery UI tabs

.ui-tabs-nav ul {
	float: left;
	width: 100%;
}

.ui-tabs-nav li {
 display: inline-block;
 position: relative;
 float: left;
 top: 0;
 color: white;
}

.ui-tabs-nav li a {
	padding: 0.5em;
	width: auto;
	color: white;
}

.ui-tabs-nav li a:link, .ui-tabs-nav li a:visited, .ui-tabs-nav li a:hover {
 color: $primary-color;
}

// Course listings 

.apply {
	display: inline-block;
	padding-bottom: gutter();
}

.course-listing {
	float: left;
	margin-bottom: 1em;
}

.course-listing h2 {
	margin-bottom: 0px;
}

.course-listing .course-level {
	color: $primary-color;
	background: $secondary-color;
  display: inline-block;
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: white;
}

// Aside

.factsheet-apply {
	float: left;
	width: 100%;
}

.apply-box {
	text-align: center;
}

.apply-box p i {
	color: $secondary-color;
}

.apply-box p a {
	text-decoration: none;
	color: white;
}

.apply-box-button, .apply-box p {
	color: white;
	padding: 0.5em;
	background: $primary-color;
}

// YouTube Videos

$youtube-tablet: 530px;
$youtube-desktop: 1150px;
$youtube-tablet-content: 900px;
$unistats: max-width 735px;
// Youtube Fix

.aside-videos {
	@include span (12 of 12);
}

.youtube-side, .youtube-side-last {
	background: white;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  padding: gutter();
  margin-bottom: gutter();
}


.youtube-content {
	position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.youtube-content iframe {
	position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@include breakpoint($unistats) {
#unistats-tab {display: none;}
}

@include breakpoint($youtube-tablet-content) {

	.youtube-content {
		@include span (12 of 12);
	}

	.youtube-content iframe {
		height: 416px;
	}

}
@include breakpoint($youtube-tablet) {

	.youtube-side {
		@include span (6 of 12);
	}

	.youtube-side-last {
		@include span (6 of 12 last);
	}

}
@include breakpoint($youtube-desktop) {

	.youtube-side {
		@include span (12 of 12);
		margin-bottom: gutter();
	}

	.youtube-side-last {
		@include span (12 of 12);
	}

	.aside-videos {
		padding-bottom: 0;
  }
}

//emsi widget 

.emsi-widget {
	width: 100%;
	float: left;
	margin-top: 1em;
}

.emsi-widget iframe {
	height: 65vh;
}