footer {
	width: 100%;
}
footer ul li {
	list-style-type: none;
}
footer h3 {
	font-size: 1.3em;
	margin-bottom: 1em;
}
.footer-details address {
	margin-bottom: 1em;
	float: left;
	clear: both;
}
.college-info-partnerships {
	background: white;
	padding-top: 2em;
	margin-bottom: 2em;
	border-top: 1px solid $off-white;
}
.college-info-partnerships img, .footer-logo img  {
	width: 100%;
}
@media (max-width: 1149px) {
	.footer-logo {
		display: none;
	}
}